<template>
  <div id="app">

    <NavBar v-on:logout="logout"/>
    <div id="slogan" class="text-center">
      <h1>Celk Web</h1>
      <br />
      <h6 class="text-secondary">Aplicação web</h6>
    </div>
    <div id="main">
      <UserDomain />
    </div>
  </div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.css";
import "font-awesome/css/font-awesome.css";
import UserDomain from "./components/UserDomain";
import NavBar from "./components/NavBar";

export default {
	name: "App",
	methods: {
		logout() {
			this.keycloakCelk.logout();
		}
	},
	components: {
		UserDomain,
		NavBar
	}
};
</script>

<style>
#slogan {
  margin-bottom: 30px;
  margin-top: 30px;
}

#main {
  background-color: #f1f1f1;
  padding-top: 30px;
  padding-bottom: 30px;
}
</style>
