<template>
  <div class="text-right">
      <a href="#" class="nav-link" v-on:click="logout()" >Logout</a>
  </div>
</template>

<script>

export default {
	name: "NavBar",
	methods: {
		logout()  {
			this.$emit("logout");
		}
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
