<template>
  <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="card">
              <div class="card-header">
                <h5>Informações do usuário</h5>
              </div>
              <div class="card-body">
                <div class="card-text font-weight-bold">
                  <i class="fa fa-user"></i> Usuário:
                </div>
                <div class="card-text">{{user.name}}</div>
                <div class="card-text font-weight-bold">
                  <i class="fa fa-user"></i> Nome:
                </div>
                <div class="card-text">{{user.fullName}}</div>
                <div class="card-text font-weight-bold">
                  <i class="fa fa-envelope"></i> E-mail:
                </div>
                <div class="card-text">{{user.email}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
</template>

<script>
import axios from "axios/dist/axios";

export default {
	name: "UserDomain",
	data: () => {
		return {
			user:{}
		};
	},
	created() {
		axios({
			url: `http://${process.env.VUE_APP_BACKEND_SERVER}:${process.env.VUE_APP_BACKEND_PORT}/celk-backend/graphql`,
			method: "post",
			data: {
				query: `
					{
						getLoggedUser {
							name,
							fullName,
							email
						}
					}
				`
			},
			headers: {
				"Authorization" : `Bearer ${localStorage.getItem("vue-token")}`
			}
		}).then(response => {
			const query = response.data;
			this.user = query.data.getLoggedUser;
		});
	}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
